body {
  background-color: inherit;
  color: #bbb;
  height: 520px;
  font-size: 17px;
  font-style: inherit;
  margin-left: 3%;
}

#description {
  margin-top: -3%;
  border-collapse: collapse;
  font-weight: 400;
  font-size: 15px;
  color: rgb(155, 153, 153);
  width: 100%;
  min-width: 10%;
  max-width: 100%;
}

dd {
  font-size: 14px;
}

dl {
  border-bottom: 0.9px groove rgb(155, 153, 153);
}
#desc {
  width: 100%;
  border: #bbb;
  margin-top: 2%;
}

table {
  border-collapse: collapse;
  border: 0.9px groove rgb(155, 153, 153);
  font-weight: 700;
  font-size: 15px;
  color: rgb(155, 153, 153);
  height: 268px;
  margin-top: 3%;
}

td {
  padding: 5px;
  padding-left: 8px;
  text-align: left;
}

dt {
  margin-top: -3%;
}
th {
  border-bottom: 0.5px solid rgb(155, 153, 153);
  border-bottom-style: dashed;
  padding: 5px;
  text-align: left;
}

tr:hover {
  background-color: #555555;
}

#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-radius: 0 5px 5px 0;
  height: 35px;
  text-align: center;
}

#mySidenav a:hover {
  left: 0;
}

#in_detail {
  top: 0.1%;
  background-color: #2196f3;
}

.highlight_C {
  background-color: red;
}
